:root{
  --primary-white: #F5F4F4;
  --primary-black:  #2B2837;
  --light-gray: #F5F5F5;
  --dark-gray: #B4B3B6;
  --success-green: #4AD991;
  --cancel-reed: #FF7285;
  --shadow-color: #F0F0F7;
}


html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: var(--primary-white);
  font-family: 'Roboto', sans-serif;
}

p
{
    font-size: 1.6rem;
}

body
{
    width: 80%;
    margin: 80px auto 0;
}